<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
  <h1>Список товаров</h1>
  <ul>
    <% products.forEach((product, index) => { %>
      <li>
        <form action="/add_to_cart" method="post">
          <span><%= product.name %> - <%= product.discountedPrice %> руб.</span>
          <input type="hidden" name="product_id" value="<%= index + 1 %>">
          <input type="number" name="quantity" value="1" min="1">
          <button type="submit">Добавить в корзину</button>
        </form>
      </li>
    <% }); %>
  </ul>
  <a href="/cart">Перейти в корзину</a>
</body>
<!-- ... -->