<body>
  <div id="app">
    <h1>Магазин игрушек</h1>
    <div>
      <h2>Товары</h2>
      <ul id="productsContainer">
        <% products.forEach(product => { %>
          <li>
            <%= product.name %> - <%= product.price %> руб.
            <% if (product.discountedPrice !== product.price) { %>
              <span style="color: green;">(Стоимость со скидкой: <%= product.discountedPrice %> руб.)</span>
            <% } %>
          </li>
        <% }); %>
      </ul>
    </div>
    <div>
      <h2>Промокод</h2>
      <input type="text" id="promoCode" placeholder="Введите промокод">
      <button onclick="applyDiscountClient()">Ввести</button>
      <button onclick="resetPromoCodeClient()">Использовать другой промокод</button>
      <p id="discountResult"></p>
  </div>
  </div>
  <script src="/script.js"></script>
</body>

